// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 50px 0;
	background: rgba(68,186,204,1);
	background: -moz-linear-gradient(top, rgba(68,186,204,1) 0%, rgba(102,153,170,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,186,204,1)), color-stop(100%, rgba(102,153,170,1)));
	background: -webkit-linear-gradient(top, rgba(68,186,204,1) 0%, rgba(102,153,170,1) 100%);
	background: -o-linear-gradient(top, rgba(68,186,204,1) 0%, rgba(102,153,170,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,186,204,1) 0%, rgba(102,153,170,1) 100%);
	background: linear-gradient(to bottom, rgba(68,186,204,1) 0%, rgba(102,153,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bacc', endColorstr='#6699aa', GradientType=0 );
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 55px;
	font-weight: 900;
	letter-spacing: 0.25em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 2px 2px 0px rgba(80,121,134,1);
	margin: 0 auto 50px;
}

.table {
	color: #000;
	text-transform: uppercase;

	thead > tr > th,
	tbody > tr > td {
		border-color: #fff;
	}

	tbody {
		background: #88c3d7;
	}
}