<table class="table">
  	<thead>
        <tr>
          	<th>Name</th>
          	<th>Hours Taken</th>
          	<th>Days Taken</th>
        </tr>
    </thead>
    <tbody>
      <%= render partial: "imulite", collection: @imulites %>
    </tbody>
</table>